/* [SECTION: BASE] */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
    background-color: var(--bg-primary);
    font-size: 1rem;
    font-weight: 600;
    color: var(--accent);
    cursor: pointer;
    transition: opacity 0.2s;
    overflow: hidden;
    /* Prevent scroll bouncing */
}

/* Smooth Scrolling */
html {
    scroll-behavior: smooth;
}

.hidden {
    display: none !important;
}